#display{
	height: 5,382cm;
	width: 10,7763cm;
	border-radius:
	font-family: "Ubuntu";
	font-size: 38px;
	background: linear-gradient(to bottom, #99e6e6, #85e085);
	/* background-color: #99e6e6; */
	align-self: center;
	position: relative;
}