.container{
	position: relative;
}
.default{
	height: 5.382cm;
	align-self: center;
	margin-left: auto;
	margin-right: auto;
	display: inline-block;
	align-items: center;
	vertical-align: top;

}
#device{
	/*float: left;*/
	position: absolute;
	left: 7px;
	top: 22px;
	z-index: 10;
	margin: auto;
}
#locked{

	width: 10.7763cm;
	font-family: Ubuntu;
	font-style: medium;
	font-size: 38px;
	background: linear-gradient(to bottom, #99e6e6, #85e085);
	border-radius: 5px;

}
#display{

	display: none;	

}
#home{
	/*flex-grow: 1;*/
	/*height: 5.382cm;
	align-items: center;
	display: inline-block;
	box-sizing: border-box;
	/*display: flex;
	float: right;*/
	background-color: gray;
	/*width: 50px;
	border-radius: 5px;
	/*align-items: center;*/
	
}
#homeBtn{
	/*
	color: #000000;
	cursor: pointer;
	font-weight: bold;
	/*margin-left: auto;
	margin-right: auto;*/
	/*-ms-transform: rotate(-90deg); /* IE 9 */
  	/*-webkit-transform: rotate(-90deg); /* Safari 3-8 */
  	/*transform: rotate(-90deg);
  	position: relative;
  	top: 50%;*/
}
#clock_display{
	font-size: 80px;
	position: relative;
}

#battery{
	max-width:100%;
	max-height:100%;
	display: block;
	margin: auto;
	float: right;
	padding-right: 20px;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	z-index: 1;

}
.status_bar {
	height: 25px;
	margin: 0 ;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	background: black;
	padding: 0px;
	vertical-align: middle;
	z-index: -1;
}
p{
	font-size: 16px;
	text-align: center;
}

#spanClock{
	color: #fff;
	font-size: 18px;
	max-width:100%;
	max-height:100%;
	display: block;
	margin: auto;
	padding-left: 20px;
	float: left;
	padding-right: 20px;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	z-index: 1;
}
#locked-icon{
	font-size: 16px;
	align-items: center;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}