.container{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 476px;
	margin-top: 50px;
}
.device{/*div com tela e area do home button*/
	position: absolute;
	left: 14px;
	top: 24px;
}
.default{ /*se aplica as div da tela e do botão home*/
	height: 5.382cm;
}

.screen{ /*se aplica as telas locked e display*/
	/*float: left;
	position: absolute;
	left: 0px;
	top: 0px;*/
	
	height: 5.382cm;
	width: 10.7763cm;
	font-family: Ubuntu;
	font-style: medium;
	font-size: 38px;
	background: linear-gradient(to bottom, #99e6e6, #85e085);
	align-self: center;
	border-radius: 5px;
	margin-left: auto;
	margin-right: auto;
	float: left;
	
}
#locked{
	display: inline-block;
	box-sizing: border-box;
	transform: 2s;
	/*animation: fadeEffect 2s; /* Fading effect takes 1 second */

}
#unlocked{
	display: none;	
	/*animation: fadeEffect 2s; /* Fading effect takes 1 second */

}
#home{
	float: left;
	margin-left: 8px;	
}
#clear{
	clear: both;
}
#homeBtn{
	color: #000000;
	cursor: pointer;
	font-weight: bold;
	margin-left: auto;
	margin-right: auto;
	/*-ms-transform: rotate(-90deg); /* IE 9 */
  	/*-webkit-transform: rotate(-90deg); /* Safari 3-8 */
  	/*transform: rotate(-90deg);*/
  	position: relative;
  	top: 50%;
  	font-size: 20px;
  	border: none;
  	border-radius: 30%;
  	height: 15%;
}
#clock_display{
	font-size: 80px;
	position: relative;
}

#battery{
	max-width:100%;
	max-height:100%;
	display: block;
	margin: auto;
	float: right;
	padding-right: 20px;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	z-index: 1;
}
.status_bar {
	height: 25px;
	margin: 0 ;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	background: black;
	padding: 0px;
	vertical-align: middle;
	z-index: -1;
}
p{
	font-size: 16px;
	text-align: center;
}
#spanClock{
	color: #d3d3d3;
	font-size: 18px;
	max-width:100%;
	max-height:100%;
	display: block;
	margin: auto;
	padding-left: 20px;
	float: left;
	padding-right: 20px;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	z-index: 1;
}
#locked-icon{
	font-size: 16px;
	align-items: center;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}

/*  --------------- ICONS --------------*/
#onScreen{
	width: 100%;
	height: 100%;
}
#icons{
	max-width: 407px;
	/*width: 100%;
	height: 100%;*/
	margin: 0 auto;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
	display: flex;
	padding: 10px;

}
#icons div{

	flex-grow: 1;
	width: 14%;
	height: 28%;
	max-width: 58px;
	max-height: 58px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin: 2.5px;
	font-size: 16px;
	text-align: center;

}
#icons a{
	z-index: 10;
	border: 1px #D3D3D3 solid;
	border-radius: 3px;
	padding: 5px;
	font-size: 25px;
	width: 55%;
	color: gray;
}
#icons a:active{
	opacity: 0.3;
}
#icons span{
	margin-top: 5px;
	font-size: 14px;
}

#previous{
	visibility: hidden;
}
/*
#profile, #search, #shopping, #images, #meetup{
	display: none;
}
*/
.tab{
	display: none;
}
.back{
	color: black;
	font-size: 16px;
	text-decoration: none;
	align-items: center;
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
