#device {
	/*background-image: url("../img/device.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;*/
	/*width: 450px;
	display: flex;
	margin-top: 50px;
	margin-right: auto;
	margin-left: auto;
	/*border-radius: 10px;
	border: 2px solid black;*/
	/*padding: 10px;
	height: 222px;
	position: relative;*/
}
.default{
	height: 5.382cm;
}
#device img{
	/*top: 0px;
	left: 0px;*/
	width: 450px;
	/*display: flex;*/
	margin-right: auto;
	margin-left: auto;
	/*border-radius: 10px;
	border: 2px solid black;*/
	height: 222px;
}
.screen{
	float: left;
	position: absolute;
	left: 0px;
	top: 0px;
	

	height: 5.382cm;
	width: 10.7763cm;
	font-family: Ubuntu;
	font-style: medium;
	font-size: 38px;
	background: linear-gradient(to bottom, #99e6e6, #85e085);
	/* background-color: #99e6e6; */
	align-self: center;
	
	border-radius: 5px;
	/*z-index: -1;*/
	margin-left: auto;
	margin-right: auto;
	margin-top: 8px;
	
}
#locked{
	/*float: left;
	position: absolute;
	left: 0px;
	top: 0px;*/
	

	height: 5.382cm;
	width: 10.7763cm;
	font-family: Ubuntu;
	font-style: medium;
	font-size: 38px;
	background: linear-gradient(to bottom, #99e6e6, #85e085);
	/* background-color: #99e6e6; */
	align-self: center;
	
	border-radius: 5px;
	/*z-index: -1;*/
	margin-left: auto;
	margin-right: auto;
	/*margin-top: 8px;*/
	display: inline-block;
	box-sizing: border-box

}
#display{
	display: none;	
}

#clock_display{
	font-size: 80px;
	position: relative;
}

#battery{
	max-width:100%;
	max-height:100%;
	display: block;
	margin: auto;
	float: right;
	padding-right: 20px;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	z-index: 1;

}
.status_bar {
	height: 25px;
	margin: 0 ;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	background: black;
	padding: 0px;
	vertical-align: middle;
	z-index: -1;
}
#home{
	/*flex-grow: 1;*/
	height: 5.382cm;
	align-items: center;
	display: inline-block;
	box-sizing: border-box
	/*display: flex;
	float: right;*/
}
#homeBtn{
	color: #000000;
	cursor: pointer;
	font-weight: bold;
	margin-left: auto;
	margin-right: auto;
	-ms-transform: rotate(-90deg); /* IE 9 */
  	-webkit-transform: rotate(-90deg); /* Safari 3-8 */
  	transform: rotate(-90deg);

}
p{
	font-size: 16px;
	text-align: center;
}

#spanClock{
	color: #fff;
	font-size: 18px;
	max-width:100%;
	max-height:100%;
	display: block;
	margin: auto;
	padding-left: 20px;
	float: left;
	padding-right: 20px;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	z-index: 1;
}
#locked-icon{
	font-size: 16px;
	align-items: center;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}
